
  <head>
    <meta charset="UTF-8">
    <title>My lists</title>
    <link rel="stylesheet" type="text/css" href="../css/lists/index.css">
  </head>

  <body>
    <header id="1"><br><br>
      <h1 id="h1lists">My lists</h1><br><br>
    </header>

    <section id="list-list">
      <p id="lists-pt">
        <% if !current_user.lists.empty? %>
          <table id="list-data">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <% @lists.each do |c| %>
              <tr>
                <td><a href="/lists/<%=c.id%>"><%= c.name %></a></td>
                <td><%= "add desc later" %></td>
              </tr>
          <% end %>
          </table>
        <% else %>
          <p id="p1"><br><br><br><br> No list data!<br> </p>
        <% end %>

      </p>
      
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p id="p2"><a href="/lists/new" class="index-button">Create your list here!</a></p>
     <br><br><br><br><br><br><br><br>
      <ul class="bot_nav">
        <li><br>Contact me here!<p> <a href="mailto:michael.martinez2707@gmail.com">michael.martinez2707@gmail.com</a><br></p></li>
        <li><br>Github page<p><a href="https://github.com/lonelydomino/listlist" target="_blank">Github</a><br></p></li>
        <li><br>Follow <p><a href="https://www.twitch.tv/drmilomd" target="_blank">Twitch</a><br> </p></li>
      </ul>
      </body>
  

