
  <head>
    <meta charset="UTF-8">
    <title>My lists</title>
    <link rel="stylesheet" type="text/css" href="../css/lists/index.css">
  </head>

  <body>
    <header id="1"><br><br>
      <h1 id="h1lists">My lists</h1><br><br>
    </header>

    <section id="list-list">
      <p id="lists-pt">
        <% if !current_user.lists.empty? %>
          <table id="list-data">
          <tr id="td-header">
            <th id="th-1">Name</th>
            <th id="th-2">Description</th>
          </tr>
          <% @lists.each do |c| %>
              <tr>
                <a id="table-anchor" href="/lists/<%=c.id%>"><td><%= c.name %></td></a>
                <td><%= c.desc %></td>
              </tr>
          <% end %>
          </table>
        <% else %>
          <p id="p1"><br><br><br><br> No list data!<br> </p>
        <% end %>
      </p>
    </section>
    <br><br><br><br>

<div id="container">
<a id="button-anchor" href="/lists/new">
    <div class="button1" id="button-3">
      <div id="circle"></div>
     <p id="button-text"> Create List</p>
    </div>
    </a>
</div>


     <br><br><br><br><br>
      <ul class="bot_nav">
        <li id="l"><br>Contact me here!<p> <a href="mailto:michael.martinez2707@gmail.com">michael.martinez2707@gmail.com</a><br></p></li>
        <li id="l"><br>Github page<p><a href="https://github.com/lonelydomino/listlist" target="_blank">Github</a><br></p></li>
        <li id="l"><br>Follow <p><a href="https://www.twitch.tv/drmilomd" target="_blank">Twitch</a><br> </p></li>
      </ul>
      </body>
  

