<head>
    <meta charset="UTF-8">
    <title>New List</title>
    <link rel="stylesheet" type="text/css" href="../css/lists/new.css">
</head>
<body>

<% if flash[:error] %>
  <div id="alert">
    <span class="closebtn">&times;</span>   
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<div id="content">
<h1 id="header-1"> Create a list! </h1>

<div class="formstyle">
  <form action="/lists" method="post" >
    <label for="name">Name </label>
    <input type="text" name="name" id="name" autocomplete="off">
    <label for="name">Description </label>
    <input type="text" name="desc" id="desc" autocomplete="off">
    <input type="submit" value="Submit">
  </form>
  <a href="/lists">
    <form>
      <input type="button" value="Go back!">
    </form>
  </a>
</div>

</div>

</body>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>