<head>
    <meta charset="UTF-8">
    <title>My anime lists</title>
    <link rel="stylesheet" type="text/css" href="../css/search/search.css">
</head>


<div id="cover">
  <form method="get" action="/results">
    <div class="tb">
      <div class="td"><input type="text" autocomplete="off" name="search[query]" placeholder="Search" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>




<!-- <a href="https://www.youtube.com/channel/UC7hSS_eujjZOEQrjsda76gA/videos" target="_blank" id="ytd-url">My YouTube Channel</a> -->

<!-- finsih setting up search bar action!!!!! -->
