
body {
    background-color: #1b262c;
    font-family: verdana;
    color: #ffffff;
    text-align: center;
  }



.dropbtn {
    background-color: black;
    color: white;
    padding: 10px 85px 10px 82px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    padding: 50px 0px 0px 0px;
  }
  #c2 {
      padding: 120px 20px 20px 20px;
  }
  #title-h {
      text-align: left;
      padding: 101px 10px 101px 10px;
      
  }
  #title-h1-span {
    color: grey;
  }