<head>
    <meta charset="UTF-8">
    <title>My animes</title>
    <link rel="stylesheet" type="text/css" href="../css/animes/new.css">
  </head>


<h1> Create a anime! </h1>


<div class="formstyle"
  >

<form action="/animes" method="post" >
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <label for="race">Race: </label>
  <input type="text" name="race" id="race">

  <label for="class">Class: </label>
  <input type="text" name="anime_class" id="anime_class">

  <input type="submit" value="Submit">
</form>

</div>