body {
    background-color: #1b262c;
    font-family: verdana;
    color: #0a043c;
  }
  /* Title */
#h1lists{

    text-align: center;
    color: #ffffff;
    font-family: verdana;
}
  /* Comment */

#list-list {
    width: 800px;
    text-align: center;
    margin: 8px auto;
} 
  


/* Styles Table */

#list-data {
width: 100%;
border-collapse: collapse;
border: 1px solid black;
}

#list-data tr:nth-child(even){
      background-color: #0f4c75;
}

#list-data tr:nth-child(odd){
    background-color: #3282b8;
}

#list-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center  ;
    background-color: #4CAF50;
    color: rgb(12, 105, 0);
}

#list-data td, #list_data th {
border: 1px solid rgb(8, 5, 141);
padding: 8px;
}

#list-data tr:hover {
    background-color: rgb(56, 159, 255);
}

#table-anchor {
    text-decoration: none;
}
#table-anchor:visited {
    color: #ffffff;
}
/* Styles the bottom bar */
ul.bot_nav {
    width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    background-color:#03506f;
    text-align:center;
    font-family: sans-serif; 
}
.bot_nav li { 
    display:inline-block;
    width:33%;
    margin:0;
    padding:0;
}
.bot_nav p {
    text-align:center;
    padding:12px 0 13px 0;
    margin:0;

    display:block;
}
.bot_nav li:hover { 
    background:#3282b8;
    
}

#p1 {
    font-size: larger;
    color: white;
    text-align: center;
}



td {
    color: white;
}
  #l {
      color: white;
  }
/* Add Button */

#container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button1 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #00e25e;
    background-color: rgb(27, 71, 45);
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    padding: 15px 32px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #button-anchor {
    color: #BFC0C0;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
  }
  
  
  /* Third Button */
  
  #button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-3 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  #button-3 input {
    position: relative;
    transition: all .45s ease-Out;
  }
  input[type=submit] {
    padding: 5px 15px;
    background-color: Transparent;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  #circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #257c7c;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  
  #button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  #button-3:hover a {
    color: #2D3142;
  }
  #button-3:hover input {
    color: #2D3142;
  }
  
