html{
  background: url("/images/tokyolights1.png") no-repeat center center fixed; 
  background-size: auto; 
  background-size: 100% 100%;
}

body {
    background-color: #1b262c;
    font-family: verdana;
    text-align: center;
    
  }
#header-1 {
  background-color: #000000;
  border-radius: 12px;
  position:fixed;
  top: 100px;
  border: solid white 1px;
  margin-bottom: 0;
  padding-top: 15px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}

#content {
  position: absolute;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(179, 186, 255);
    border-radius: 114px;
    box-sizing: border-box;
    background-color: rgb(54, 65, 128);
    color: white;
    text-align: center ;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 114px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .formstyle {
    background-color: #8cb4ff;
    padding: 20px;
    width: 23%;
    border-radius: 50px;
    position: fixed;
    left: 39%;
    top: 300px;
  }

  #header-1 {
    position: fixed;
    left: 44%;
  }
  input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    
    border: none;
    border-radius: 114px;
    cursor: pointer;
  }
  label {
    font-family: "verdana";
	font-size: 15px;

  }
  #list-list {
    width: 800px;
    text-align: center;
    margin: 8px auto;
    
}
#alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  text-align: center;
  z-index: 200;
  width: 100%;
  position:fixed;  
  top:112px;
}
.closebtn {
  margin-left: 0px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  margin-left: 111px;
  margin-top: 15px;
}

.closebtn:hover {
  color: black;
}
