


/* Layout Styling */

#container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* Button Styles */

.button, .deletebutton {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}


/* Third Button */

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}
#button-3 input {
  position: relative;
  transition: all .45s ease-Out;
}
input[type=submit] {
  padding: 5px 15px;
  background-color: Transparent;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #257c7c;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}


#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}
#button-3:hover input {
  color: #2D3142;
}


@media screen and (min-width:1000px) {
  h1 {
    font-size: 2.2em;
  }
  #container {
    width: 50%;
  }
}





body {
    background-color: #1b262c;
    font-family: verdana;
    text-align: center;
  }

h1 {
    padding-top: 100px;
    color: white;
}
.h {
    width: 50%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid rgb(179, 186, 255);
    border-radius: 114px;
    box-sizing: border-box;
    background-color: rgb(54, 65, 128);
    color: white;
  }
  a, input[type=submit] {
    color: hotpink;
  } 
  #p1 {
    color: white;
    font-size: larger;
  }

  
