<head>
    <meta charset="UTF-8">
    <title>My Characters</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>

<h1> Welcome to AnimeList! </h1>
<body>
 <br>
 <% if !logged_in? %>
 <a href="/login" class="button">Log in here!</a>
 <a href="/signup" class="button">Sign Up here!</a>
 <% end %>

 </body>
 