<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>

<header id="layoutheader">
<h1 class="h-1"><a id="banner-anchor" href="/">Anime <span class="layoutspan">List</span></a></h1>
    <% if logged_in? %>
        <nav> 
            <ul id="layout-ul">
                <li><a id="layout-a" href="/search"> Search</a></li>
                <li><a id="layout-a" href="/"> Home</a></li>
                <li><a id="layout-a" href="/lists">Lists</a></li>
                <li><a id="layout-a" href="/profile/<%= current_profile.id %>">Profile</a></li>
                <li><a id="layout-a" href="/logout">Log Out</a></li>
            </ul>
        </nav>
    <% end %>
    <% if !logged_in? %>
        <nav> 
            <ul id="layout-ul">
                <li><a id="layout-a" href="/login"> Login</a></li>
                <li><a id="layout-a" href="/signup"> Sign Up</a></li>
                <li><a id="layout-a"  href="#">About</a></li>
            </ul>
        </nav>
    <% end %>
</header>



<body>


<div class="container">
  <%= yield %>
   </div>
</html>