<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

 <body>
<% if logged_in? %>
  <div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/characters">Characters</a>
    <a href="/logout">Log out</a>
  </div>
<% end %>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
  

  <%= yield %>
</html>